<h3>Sign In</h3>
<h1>
    <% if(errorMessage===null ){ %>
        <p>Welcome Code_Breaker!</p>
        <% } else { %>
            <p>You are not Code_Breaker</p>
            <% } %>

</h1>
<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="login" class="btn">
</form>

<h3>Register</h3>
<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="register" class="btn">
</form>