<header class="header">
    <a href="/" class="header_logo">NodeJS</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
              <li>
                <a href="/about" class="">About</a>
            </li>
              <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Search 
        </button>

    </div>

</header>