<div class="searchBar">
    <div class="container">
        <form action="/search" method="post" class="search__form" role="search">
            <input type="search" aria-label="search" name="searchTerm" id="searchInput" placeholder="Search Blogs..." >
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>