<div class="author">
    <h2 class="author__heading">About</h2>
    <p class="author__body">I am a highly experienced full-stack software engineer with over three years of experience, bringing knowledge and skills to my role</p>
    <p class="author__body">My focus on delivering complex web applications is characterized by scalability, usability, and adherence to sustainability standards. </p>
    <p class="author__body">This has enabled me to develop web-based solutions that are functional, user-friendly, efficient, sustainable, and capable of handling high-traffic volumes.</p>
</div>