<div class="author">
    <h2 class="author__heading">Contact Me</h2>
    <address class="author__contact">
        <p>
            <strong>Dmitriy Malayev</strong><br>
            <strong>Full Stack Software Engineer</strong><br>

            <a href="mailto:dmitriy.malayev@gmail.com">dmitriy.malayev@gmail.com</a><br>
            <a href="https://www.dmitriymalayev.com">www.dmitriymalayev.com</a> <br>
            <a href="tel:+1-347-761-4403">+1-347-761-4403</a> 
        </p>
        <div class="author__social">
            <a href="https://twitter.com/dmitriymalayev" aria-label="Your Twitter profile" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/dmitriymalayev" aria-label="Your LinkedIn profile" target="_blank" rel="noopener">
                <i class="fab fa-linkedin"></i>
            </a>
                 <a href="https://github.com/DmitriyMalayev" aria-label="Your Github profile" target="_blank" rel="noopener">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </address>
</div>