<div class="author">
    <h1 class="author__heading">Hello, my name is Dmitriy</h1>
    <p class="author__body">Software Engineer & Content Creator</p>
</div>

<img src="/img/blogging_image.jpeg" alt="image" class="hero-image">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
          <li>
            <a href="/post/<%= post._id  %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page <%= nextPage %>" class="pagination">%lt; View Older Posts</a>
    <% } %> 

</section>