@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 


:root { 
    /* custom properties (variables) for your entire documents */
  --black: #1c1c1c;
  --gray: #7E7E7E;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --blue: #001bc7;

  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);  /* min, val, max */
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  margin: 0;  /* removes default browser margins */
  background-color: #FAF5EE;
}
body::before {
  content: '';
  position: fixed;  /* Cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/img/noise.jpeg");
  z-index: -1;     /* Place behind the content */
  background-size: cover;
  background-position: center;
  opacity: 0.1;  
}
a { color: var(--black); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white; 
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
  font-size: 20px;
}
.new-post-button{
  background-color: var(--blue);
  color: white; 
 padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}
.error-notification {
  color: var(--red);
}

img {
  width: 100%;
  height: auto;
}

/* Layout */
.container {
  max-width: 982px;
  margin: 0 auto;   /* centers page  */
  padding: 0 10px;
}

.main {
  padding: 20px 0;
}

/* Hero Section */
.hero-image {
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 80%;
}


/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
    background-color: #ffffff11;
  }
}

.header__logo {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
}

.header__logo:hover {
  text-decoration: underline;
}

.header__nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}

.header__logo, .header__nav, .header__button {
  width: 100%;
}

.header__button {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header__button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.header__button button:hover {
  border: 2px solid var(--black);
}

/* Header -> Navigation */
.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-weight: 600;
  padding: 0;
}

.header__nav ul a {
  padding: 10px;
  text-decoration: none;

}

.header__nav ul a.active  {
  color: var(--blue) 
}

.header__nav ul a:hover {
  text-decoration: underline;
}

.author {
  padding: 10px 0;
  text-align: center;
}

.author__heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}


/* Home Article List */
.articles__heading {
  margin-top: 4rem;
  font-weight: 400;
}

.article-ul {
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.article-list__date {
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  color: var(--black);
  width: 100px;
  display: inline-block;
  width: 260px;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list__date {
    text-align: right;
  }
}

.article-ul li {
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  filter: none;
}


.article-ul:hover li:hover {
  font-weight: 600;
  text-decoration: underline;
}


.article {
  white-space: pre-wrap;
}


/* Footer */
.footer {
  font-size: 16px;
  margin: 5rem;
  text-align: center;
}


/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.admin-posts {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: 1rem;
  padding: 4px 16.5px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* SeachBar */
.searchBar {
  visibility: hidden;
  transform: translateY(-100%); /* Push entirely offscreen */
  background-color: var(--black);
  padding: 4px 0;
  position: fixed; /* Ensures positioning relative to the viewport */
  top: 0;          /* Align to the top */
  left: 0;
  right: 0;
  z-index: 100;   /* Ensure it's above other content */
  transition: transform 0.6s ease; /* Add a smoother transition */
}

.searchBar.open {
  transform: translateY(0);
}

.searchBar input {
  margin: 0;
  border: 0;
}

.searchBtn {
    cursor: pointer;
}
.searchBtn i {
    margin-left: 8px; /* Adjust for spacing */
}

.searchBtn i {
    font-size: 16px;
    color: #ba8585; /* Example color */
}

#searchClose {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--gray-light);
  padding: 15px;
}


.pagination {
  font-size: 1.3rem;
  color: var(--black);
  text-decoration: #0091ff;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--blue);
}
